*,
::before,
::after {
  box-sizing: border-box;
}

input,
button, 
a {
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
  
  &:focus-visible {
    outline-style: dashed;
    outline-offset: 0.1rem;
    outline-width: 0.15rem;
    outline-color: cornflowerblue;
  }
}

button, a {
  cursor: pointer;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}