@use "sass:string";

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}



$fractions: 0.25, 0.5, 0.75, 0.8, 0.85, 0.9, 0.95;

@function generate-fraction($name, $idx, $format: 'rem') {

  $values: ();

  @each $value in $fractions {
    $value-str: $value + $idx + "";
    $classname: str-replace($value-str, ".", "-");
    
    $values: append($values, #{$name}-#{$classname});
    $values: append($values, #{$value-str + $format});
  }

  @return $values;
}

@mixin make-class($name: '.pl', $i: 0) {
  // Generate decimal values for rem
  $decimals: ();
  $decimals: generate-fraction(#{$name}, $i);
  $total_dem: length($decimals);
  // @debug "total_dem: " + $total_dem;

  $_stepper: 1;
  @for $index from 1 through $total_dem {
    // @debug "_stepper: " + $_stepper;
    @if $_stepper < $total_dem {
      // @debug "_print: " + $_stepper;
      #{nth($decimals, $_stepper)} { padding-left: nth($decimals, $_stepper + 1); }
    }
    
    $_stepper: $_stepper + 2;
  }
}

@for $i from 0 through 100 {
  $step: $i;
  .p-#{$step} { padding: #{$step}rem; }
  .ptb-#{$step} { padding-top: #{$step}rem; padding-bottom: #{$step}rem; }
  .plr-#{$step} { padding-left: #{$step}rem; padding-right: #{$step}rem; }
  .pt-#{$step} { padding-top: #{$step}rem; }
  .pb-#{$step} { padding-bottom: #{$step}rem; }
  .pl-#{$step} { padding-left: #{$step}rem; }
  .pr-#{$step} { padding-right: #{$step}rem; }

  // Generate decimal values for rem
  // $decimals: ();
  // $decimals: generate-fraction(".pl", $i);
  // $total_dem: length($decimals);
  // @debug "total_dem: " + $total_dem;

  // $_stepper: 1;
  // @for $index from 1 through $total_dem {
  //   @debug "_stepper: " + $_stepper;
  //   @if $_stepper < $total_dem {
  //     @debug "_print: " + $_stepper;
  //     #{nth($decimals, $_stepper)} { padding-left: nth($decimals, $_stepper + 1); }
  //   }
    
  //   $_stepper: $_stepper + 2;
  // }
  
  @if $i < 2 {
    @include make-class(".pr", $i);
    @include make-class(".pl", $i);
    @include make-class(".pt", $i);
    @include make-class(".pb", $i);
    @include make-class(".ptb", $i);
    @include make-class(".plr", $i);
  }
  
  @include make-class(".mr", $i);
  @include make-class(".ml", $i);
  @include make-class(".mt", $i);
  @include make-class(".mb", $i);
  @include make-class(".mtb", $i);
  @include make-class(".mlr", $i);

  
  .px-#{$step} { padding: #{$step}px; }
  .pxtb-#{$step} { padding-top: #{$step}px; padding-bottom: #{$step}px; }
  .pxlr-#{$step} { padding-left: #{$step}px; padding-right: #{$step}px; }
  .pxt-#{$step} { padding-top: #{$step}px; }
  .pxb-#{$step} { padding-bottom: #{$step}px; }
  .pxl-#{$step} { padding-left: #{$step}px; }
  .pxr-#{$step} { padding-right: #{$step}px; }
  
  .m-#{$step} { margin: #{$step}rem; }
  .mtb-#{$step} { margin-top: #{$step}rem; margin-bottom: #{$step}rem; }
  .mlr-#{$step} { margin-left: #{$step}rem; margin-right: #{$step}rem; }
  .mt-#{$step} { margin-top: #{$step}rem; }
  .mb-#{$step} { margin-bottom: #{$step}rem; }
  .ml-#{$step} { margin-left: #{$step}rem; }
  .mr-#{$step} { margin-right: #{$step}rem; }
  
  .mx-#{$step} { margin: #{$step}px; }
  .mxtb-#{$step} { margin-top: #{$step}px; margin-bottom: #{$step}px; }
  .mxlr-#{$step} { margin-left: #{$step}px; margin-right: #{$step}px; }
  .mxt-#{$step} { margin-top: #{$step}px; }
  .mxb-#{$step} { margin-bottom: #{$step}px; }
  .mxl-#{$step} { margin-left: #{$step}px; }
  .mxr-#{$step} { margin-right: #{$step}px; }
  
  .gap-#{$step} { gap: #{$step}rem; }
  .gapx-#{$step} { gap: #{$step}px; }  

  .tx-#{$step} { top: #{$step}px; }
  .bx-#{$step} { bottom: #{$step}px; }
  .bx--#{$step} { bottom: -#{$step}px; }
  .lx-#{$step} { left: #{$step}px; }
  .rx-#{$step} { right: #{$step}px; }  
}