//////////
/// Scale Slide
/// 
.scale-slide-enter-active,
.scale-slide-leave-active {
  position: absolute;
  transition: all 0.65s ease;
}

.scale-slide-enter-from {
  transform: translateX(-100%);
}

.scale-slide-enter-to {
  transform: translateX(0%);
}

.scale-slide-leave-from {
  transform: scale(1);
  opacity: 1;
}

.scale-slide-leave-to {
  transform: scale(0.85);
  opacity: 0;
}

//////////
/// Fade
/// 
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

//////////
/// Slide
///
.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}




//////////
/// List Scale Fade In
///
.list-scale-fade-in-move,
.list-scale-fade-in-enter-active,
.list-scale-fade-in-leave-active {
  transition: all 0.35s cubic-bezier(0.55, 0, 0.1, 1);
}

.list-scale-fade-in-enter-from,
.list-scale-fade-in-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.list-scale-fade-in-leave-active {
  position: absolute;
} 