//////////
/// Buttons
.base-button {
  transition: opacity $btn-transition-ms $btn-transition-ease,
  color $btn-transition-ms $btn-transition-ease,
  transform 425ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  $scale: 0.9;
  &.pressed {
    pointer-events: none;
    -webkit-transform: scale3d($scale, $scale, $scale);
            transform: scale3d($scale, $scale, $scale);
  }

  &.active, &.selected {
    pointer-events: none;
    .ui-background {
      opacity: 1;
    }
  }

  &.small {
    min-width: 89px;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.variant-blue {
    color: white;
    border-radius: $global-radius;
    
    .inner-base-button {
      background: $blue-gradient;
      border-radius: inherit;
    }
    .ui-background {
      transition: opacity $btn-transition-ms $btn-transition-ease;
      background: $blue-light-gradient;
      border-radius: inherit;
      opacity: 0;
    }
    // .ui-label {
    //   @include getFontSize('small');
    // }
    
    &:hover:not(.disabled):not(.active) {
      .ui-background {
        opacity: 1;
      }
    }
  }
  
  &.variant-red {
    color: white;
    border-radius: $global-radius;

    .inner-base-button {
      background: $red-gradient;
      border-radius: inherit;
    }
    .ui-background {
      transition: opacity $btn-transition-ms $btn-transition-ease;
      background: $red-light-gradient;
      border-radius: inherit;
      opacity: 0;
    }
    .ui-label {
      @include getFontSize('small');
      text-transform: uppercase;
    }
    
    .ui-accessory-icon {
      width: 19px;
    }
  
    &:hover:not(.disabled):not(.active)
    :not(.selected):not(.pressed) {
      .ui-background {
        opacity: 1;
      }
    }
  }

  &.ignore-icon {
    .ui-accessory-icon {
      width: auto;
    }
  }
}

