.content {
  &.pre-html {
    .table-title {
      margin: 0 0 1rem 0;
    }
    .data-content {
      opacity: 1;
    }
  }
}

.data-content, .content {
  &.remove-margin {
    margin: 0;
  }  

  .elsoba-calc-060 {
    aspect-ratio: 321 / 179;

    .table-title {
      margin: 0 0 0 0!important;
      padding: 0 0 0.75rem 0;
    }
  }
}

.__note {
  background-color: white;
  padding: 0.95em;
  border-radius: 0.428em;
  font-size: 16px;

  > ul {
    margin: 0.75rem 0 0 0;
    padding-left: 1rem;
  }
}

.data-content {
  font-size: 16px;
  line-height: 1.25;
  margin: 0.25rem 0 0 0;
  //touch-action: pan-x pan-y pinch-zoom;

  h2 {
    font-size: 22px;
    margin: 0 0 1rem 0;
  }

  .h2-content { 
    margin: 0rem 0 1rem;
  }

  .head-content {
    // SubHeading Body Text
    font-family: $secondary-font-family;
    color: $sixth-color;
    font-weight: 500;
    font-size: 17px;

    &.large {
      font-size: 28px;
    }

    // Default Body Text
    > span {
      font-family: $primary-font-family;
      color: $primary-color;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .subhead-content {
    font-family: $secondary-font-family;
    font-size: 18px;
  }

  %add-note {
    background-color: white;
    padding: 0.95em;
    border-radius: 0.428em;
    font-size: 16px;
  }

  .note {
    // background-color: white;
    // padding: 0.95em;
    // border-radius: 0.428em;
    // font-size: 16px;

    // > ul {
    //   margin: 0.75rem 0 0 0;
    //   padding-left: 1rem;
    // }
    @extend .__note;
  }

  ul {
    &.no-bullet {
      padding-left: 0;
      li { 
        list-style-type: none; 
        border-bottom: 1px solid #BEBEBE;
        padding: 1rem 0;
        margin-top: 0;

        &:first-of-type {
          padding: 0 0 1rem;
        }
      }
    }
    
    &.clear-list {
      padding-left: 0;
      li { 
        list-style-type: none; 
        padding: 0.25rem 0;
        margin-top: 0;
        font-size: 14px;

        &:first-of-type {
          padding: 0 0 0.25rem;
        }
      }
    }
    
    margin-bottom: 0.25rem;

    > li + li {
      margin-top: 0.75rem;
    }

    li {
      ul {
        margin-top: 0.75rem;
      }
    }
  }

  .table-title {
    margin: 1.25rem 0 1rem 0;
    font-family: $secondary-font-family;
    font-size: 18px;
    font-weight: 300;
    color: $sixth-color;
  }
  
  .table-subtitle {
    margin: -0.75rem 0 1rem 0;
    font-size: 14px;
  }

  table {
    table-layout:fixed;
    min-width: 100%;
    position: relative;
    text-align: left;
    border-collapse: collapse;
  }

  #tableHeaders {
    th {
      background-color: #0B247A;
      color: white;

      &.head-bold {
        font-weight: 700;
        font-size: 15px;
      }
    }
  }
  
  #tableBody {
    td {
      background-color: #eeecec;
      font-size: 15px;

      &.bg-white {
        background-color: white!important;
        color: #0B247A!important;
      }

      &.head-bold {
        font-weight: 500;
        font-size: 15px;
      }
      
      &.sub-head {
        font-size: 12px;
      }
    }

    tr {
      td:first-of-type {
        background-color: #2C51CF;
        color: white;
      }
    }  
  }

  #tableHeaders, #tableBody {
    td, th {
      text-align: left;
      padding: 8px 16px;
      vertical-align: middle;
      font-weight: 400;
    }

    tr {
      // lock horizontal the first column
      td:first-of-type {
        position: sticky;
        left: 0px;
      }
    }    
  }

  #tableHeaders {
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 1;

    th {
      padding: 8px 16px;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }

    thead tr {
      th:first-of-type {
        position: sticky;
        left: 0px;
        z-index: 2;
      }
    }
  }

  #tableBody {
    overflow-x: scroll;

    th:not(.head-bold) {
      padding: 0 16px;

       
    }
    
    tbody {
      tr {
        border-bottom: 1px solid #ddd;
      }
    }

    td + td {
      background-color: white;
    }
  }

  .footnote {
    font-size: 15px;
    font-style: italic;
    margin: 1rem 0;

    @extend %add-note;

    &.no-bg {
      background-color: transparent;
      margin: 0;
    }
  }

  img {
    max-width: 100%;
  }

  .bg-white {
    background-color: white;
  }

  .border-tb {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
}

.text-content {
  .note {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    @extend .__note;

    &.note-heading {
      margin-top: 0;
    }
  }
}