/**
    Fonts
*/

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Thin.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Regular.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-MediumItalic.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-LightItalic.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Bold.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Medium.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Italic.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-BoldItalic.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-BlackItalic.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Black.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-ThinItalic.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Roboto';
	src: 	url('/assets/fonts/roboto/web/Roboto-Light.woff2') format('woff2'),
			url('/assets/fonts/roboto/ttf/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

