h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.screen-heading {
 
  .screen-title {
    font-family: $secondary-font-family;
  }

  .header-right {
    > span {
      color: $primary-color;
    }
  }
}

.screen-breadcrumbs {
  background-color: #dbd8d8;  
}

.screen-bottom-nav,
.bottom-nav {
  height: 76px;
}


.app-drawer-item {
  html.ios & {
    .panel-header {
      padding-top: 40px;
    }

    .side-content + .close-button {
      top: 64px;
    }
  }
  
  // .close-button {
  //   //top: 40px;
  // }

  
}